{% extends "base.html" %}

{% block content %}
<section>
    <center><h1>About Us</h1></center>
    <center><img src= "https://static.vecteezy.com/system/resources/previews/048/905/207/non_2x/spacious-gym-with-natural-light-and-state-of-the-art-equipment-photo.jpg" width=450"> </center>
    <center><p>Our mission is to inspire a healthy lifestyle through fitness and well-being.</p></center>
    <center><h2>Meet Our Team</h2></center>
    <center><p>Our experienced trainers are dedicated to helping you reach your goals.</p>
    <h2>Our Facilities</h2>
    <p>Contact us: <strong>fitlife@gym.com</strong></p>
    <p>Enjoy spacious workout areas, top-notch equipment, and relaxing amenities.</p></center>
</section>
{% endblock %}